body {

}
.header {
  font-family: "Snell Roundhand";
  color: #3A539B;
}

.form-left {
  height: 500px;

}

.list-right {
  height: 600px;
}

.gray {
  background-color: #CAD3C8 ;
  border: 1px solid gray;
  border-radius: 20px;
  opacity: 0.75;
}

.forms-div {
  margin-top: 60px;
}

.custom-form {
  margin-top: 40px;
}

.custom-button {
  border-radius: 5px;
  border: 1px solid black;
}

.right-header {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px;
  margin-top: 20px;
}

.left-header {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px;
  margin-top: 20px;
}


.blue {
  background-color: blue;
  border: 1px solid black;
}

.maroon {
  background-color: maroon;
  border: 1px solid black;
}

.custom-Left {
  width:25%;
  font-size: 14px;
  padding-bottom: 0px !important;
  padding-top: 5px !important;
}

.custom-Right {
  font-size: 14px;
  padding-bottom: 0px !important;
  padding-top: 5px !important;
}

.table-custom {
  margin-top: 25px;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 
