.Wineries-Database-Header {
  font-family: "Zapfino";
  margin-top: 40px;
  color: #34908d;
  text-align: center;
}

.customBackground {
  background-color: #C0B283;
  border-radius: 20px;
  padding: 0px;
  opacity: 0.97;
}

.pointerHover {
  cursor: pointer;
}

.ornament {
  font-family: "Bodoni Ornaments";
}
.together {
  display: inline;
}
.Wineries-Database-container {
  font-family: "FoglihtenNo07calt";
  height: 200px;
  color: white;
  text-align: justify;
  background-image: url(./components/pictures/header2.jpg);
  margin-bottom: 20px;
}

.margin-control {
  margin-right: 40px;
}
.colorPick {
  background-color: #373737;
}
.fontSize {
  font-size: 40px;
}
.verticalAlign {
  padding-top: 50px;
}
.header {
  height: 100%;
}

.form-left {
  height: 500px;

}

.list-right {
  height: 600px;
}

.gray {
  background-color: #CAD3C8 ;
  border: 1px solid gray;
  border-radius: 20px;
  opacity: 0.75;
}

.forms-div {
  margin-top: 60px;
}

.custom-form {
  margin-top: 40px;
}

.custom-button {
  border-radius: 5px;
  border: 1px solid black;
}

.right-header {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px;
  margin-top: 20px;
}

.left-header {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px;
  margin-top: 20px;
}


.blue {
  background-color: blue;
  border: 1px solid black;
}

.maroon {
  background-color: maroon;
  border: 1px solid black;
}

.custom-Left {
  width:25%;
  font-size: 14px;
  padding-bottom: 0px !important;
  padding-top: 5px !important;
}

.custom-Right {
  font-size: 14px;
  padding-bottom: 0px !important;
  padding-top: 5px !important;
}

.table-custom {
  margin-top: 25px;
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

.filterDropDown {
  width: 100%;
  padding: 100px, 100px;
  margin: 20px 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  /* align-items: center; */
  text-align: center;
  
}
#wineryList {
  width: 100%;
  /* border: 5px solid black; */
  text-align: center;
  margin: 25px auto;
}
#wineryList td {
  color: #7b6b43;
  text-align: center;
  font-family: 'Bitter', serif;
  font-size: 20px;
}

.customWineDiv {
  display:inline-block;
  width: 29.82%;
  background-color: #F4F4F4;
  border-style: double;
  height: 500px;
  vertical-align: middle;
  position: relative;
  padding-bottom: 10px;
  margin: 20px;
}

.divcontainerdivtext {
  position: absolute;
	bottom: 0;
	left: 33.3333333333333333333%;
  border: solid 1px black;
  border-radius: 10px;
}

.customWinePrice {
  font-size: 20px;
  margin-bottom: 2px;
}